.JCL_Maryo6 {
	font-family: Meiryo;
	font-size: 6px;
}

.JCL_Maryo8 {
	font-family: Meiryo;
	font-size: 8px;
}

.JCL_Maryo9 {
	font-family: Meiryo;
	font-size: 9px;
}

.JCL_Maryo10 {
	font-family: Meiryo;
	font-size: 10px;
}

.JCL_Maryo12 {
	font-family: Meiryo;
	font-size: 12px;
}

.JCL_Maryo13 {
	font-family: Meiryo;
	font-size: 13px;
}

.JCL_Maryo16 {
	font-family: Meiryo;
	font-size: 16px;
}

.JCL_Maryo16B {
	font-family: Meiryo;
	font-size: 16px;
	font-weight: bold;
}
